/* Light theme */
:root {
    --font-color: #335C81;
    --link-color: #274060;
    --border-color: #274060;
    --bg-color: #FCF7F8;
    --content-width: 780px;
}

/* Dark theme */
[data-theme="dark"] {
    --font-color: #b4bac5;
    --link-color: #26547C;
    --border-color: #26547C;
    --bg-color: #01161E;
}

html {
    /* This ensures padding and margins are included in element sizes */
    box-sizing: border-box;
}

/* This ensures padding and margins are included in element sizes */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/***********************/
/* Mobile First Design */
/* Declare styles for
mobile devices first */
/***********************/

.hidden {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-right {
    display: flex;
    align-items: flex-end;
}

.stack {
    display: block
}


/* Global Styles and Fonts */
html {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}

.bg-color {
    background-color: var(--border-color);
}

/*****************/
/* Navbar Styles */
/*****************/
.navbar {
    margin: 0.5rem;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0px;
}

@media screen and (min-width: 800px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1024px;
    }
}

.navbar h1 {
    font-size: 1.6rem
}

/* Disable default hyperlink styles */
.navbar a {
    color: inherit;
    text-decoration: inherit;
}

a.nav-link {
    display: none;
}

@media screen and (min-width: 800px) {
    a.nav-link {
        display: flex;
        padding: 1rem;
        font-size: 1.3rem;
    }
}

nav a {
    display: flex;
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}

nav a.active {
    background-color: var(--bg-color);
    padding: 0.4rem;
    color: var(--font-color);
    border-color: var(--border-color);
    border-width: thick;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 5px 2px 8px #888888;
    font-weight: bold;
}

.nav-icons a {
    font-weight: normal;
}

.nav-icons a.social-icon {
    display: none;
}

/* Display social icons in main navbar for larger screens */
@media screen and (min-width: 800px) {
    .nav-icons a.social-icon {
        display: inherit;
        padding: 1rem;
        font-size: 2rem;
    }
}

.logo {
    width: 70px;
}

.brand {
    padding-left: 2rem;
    padding-right: 2rem;
}

.brand-title {
    margin-bottom: 0;
}

@media screen and (min-width: 800px) {

    /* Larger title font size for desktops */
    .navbar h1 {
        font-size: 2rem;
    }
}

.brand-subtitle {
    margin-top: 0;
}

.banner-logo {
    align-items: center;
}

/* Navbar Dropdown */
div.navbar {
    justify-content: space-evenly;
    /* Remove unnecessary space for sticky nav */
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-dropdown {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.navbar-dropdown.active {
    max-height: 100px;
    transition: max-height 0.25s ease-in;
}

.navbar-dropdown li {
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Don't display icons with bold in dropdown */
.navbar-dropdown li.social-link {
    font-weight: normal;
}

/* Hide hamburger menu and dropdown for larger screens */
@media screen and (min-width: 800px) {
    #hamburger {
        display: none;
    }

}

#makeover {
    display: none;
}

@media screen and (min-width: 800px) {
    #makeover {
        display: inherit;
        padding: 1rem;
        opacity: 40%;
    }
}

.sticky-nav {
    top: 0;
    position: fixed;
    background: var(--bg-color);
    width: 100%;
}

/***********************/

.date {
    font-weight: bold;
}

.entry-title {
    margin-bottom: 1rem;
    margin-top: 0px;
}

.entry-date {
    margin-top: 1rem;
    font-weight: bold;
}

hr.banner-divider {
    margin-left: 1%;
    margin-right: 1%;
    height: .2rem;
    border-radius: 25px;
    border-color: transparent;
    opacity: 60%;
    /* Huddle up nice and close with the sticky navbar */
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    margin-bottom: 2rem;
    /* Ensure content is fixed width */
    max-width: var(--content-width);
    /* Align content to conter */
    margin-left: auto;
    margin-right: auto;
    /* Line Height Using golden ratio */
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    /* For giving space for sticky navbar */
    margin-top: 130px;
}

.article p {
    font-size: 1rem;
    word-break: break-word;
}

.content h1 {
    font-size: 1.5rem;
}

.content h2,
.content h3,
.content h4 {
    font-size: 1.3rem;
}

/* Ensure link text in content wraps around */
div.content a {
    white-space: pre-wrap;
    word-break: break-word;
    white-space: normal;
}

/* Ensure images fit to screen */
div.content img {
    max-width: 100%;
    border-radius: 10px;
}

/* Prevent titles in cards showing default hyperlinks */
h3.entry-title a {
    color: inherit;
    text-decoration: inherit;
}

.card {
    box-shadow: 0 20px 13px -13px rgba(100, 110, 140, .1), 0 5px 4px -4px rgba(100, 110, 140, .15);
    padding: 2rem;
    margin: 3%;
}

/* Add padding for full-length article content (on mobile) */
.article-content {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    max-width: var(--content-width);
    font-size: 1rem;
    line-height: 2;
}

/* floating icon button to scroll up to the top */
.scroll-up {
    border-width: thick;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    color: inherit;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: inherit;
}

.scroll-up i {
    border: 10px;
    border-width: thick;
    height: auto;
    opacity: 60%;
}

/* Syntax Highlighting */
/* Ensure word wrap for code literals */
code,
kbd,
pre,
samp {
    word-break: break-word;
    font-size: 1rem;
    white-space: pre-wrap;
}

pre {
    border-radius: 10px;
}

/* Disable word-wrap for whitespace sensitive languages */
.language-python {
    white-space: pre;
}

/* Theme a11y-dark.css - from: https://github.com/highlightjs/highlight.js/blob/main/src/styles/a11y-dark.css */
.hljs {
    background: #2b2b2b;
    color: #f8f8f2;
}

/* Comment */
.hljs-comment,
.hljs-quote {
    color: #d4d0ab;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #ffa07a;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #f5ab35;
}

/* Yellow */
.hljs-attribute {
    color: #ffd700;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #abe338;
}

/* Blue */
.hljs-title,
.hljs-section {
    color: #00e0e0;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #dcc6e0;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {

    .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-string,
    .hljs-symbol,
    .hljs-type,
    .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}

/* Don't wrap code for readability */
pre code.hljs {
    text-wrap: nowrap;
}

/******************/
/* Sidebar Styles */
/******************/

.sidebar {
    display: none;
}

.sidebar-sticky {
    display: none;
}

@media screen and (min-width: 800px) {
    .sidebar {
        position: sticky;
        top: 130px;
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .articles {
        width: 100%;
    }

    .sidebar-sticky {
        display: block;
        width: 50%;
    }

    .sidebar-sticky ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-left: 0px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: sticky;
        top: 199px;
    }

    /* Search box */
    .search {
        padding: 1rem;
        box-shadow: 0 3px 13px rgba(100, 110, 140, .1), 0 2px 4px rgba(100, 110, 140, .15);
        border: none;
    }

    .search:focus {
        outline-color: #96a8fe;
    }

    /* Keep tag styles consistent with active style */
    .tag {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        color: var(--font-color);
        border-color: black;
        border-width: thick;
        border-radius: 5px;
        font-weight: bold;
        margin: 0.4rem;
        box-shadow: 0 3px 13px rgba(100, 110, 140, .1), 0 2px 4px rgba(100, 110, 140, .15);
    }

    li.tag a {
        color: inherit;
        text-decoration: inherit;
        ;
    }

    /* Style for a selected tag */
    .tag.active {
        color: var(--bg-color);
        border-color: var(--font-color);
        background-color: var(--font-color);
    }
}

/* Ensure loaded fragment url's for headings leave space for sticky navbar */
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
    margin-top: -120px;
    padding-top: 140px;
}

/* Divider after main heading for article content */
.article-content h1 {
    box-shadow: 0 20px 13px -13px rgba(100, 110, 140, .1), 0 5px 4px -4px rgba(100, 110, 140, .15);
    padding-bottom: 1rem;
}

/* Clean up Hugo Generated Table of Contents */
/* Don't display empty h1 level if it doesn't exist (i.e an empty bullet point) */
#TableOfContents>ul {
    padding: 0;
}

#TableOfContents>ul>li {
    list-style: none;
}

/* Pagination Style */
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}

.pagination li {
    border-width: thick;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    opacity: 60%;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    color: inherit;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li a {
    font-weight: bolder;
    font-size: 2rem;
    color: inherit;
    text-decoration: inherit;
}

/** Toggle button **/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--border-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--border-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

table td,
th {
    padding: 5px;
    border: 1px solid;
    border-color: darkgray;
}

video {
    width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}


.post-meta table tr td {
    border: none;
    padding: 5px;
}

.toc {
    padding: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 20px 13px -13px rgba(100, 110, 140, .1), 0 5px 4px -4px rgba(100, 110, 140, .15);
}

blockquote {
    padding-left: 1rem;
    border-left: .2rem solid;
    border-color: orange;
}

@media screen and (min-width: 800px) {

    .content {
        font-size: 1rem;
    }

    /* Bigger width for larger screens */
    .article-content {
        max-width: 780px;
    }

    .list-content {
        max-width: 1024px;
        /* For Sticky Sidebar */
        display: flex;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h2,
    .content h3,
    .content h4 {
        font-size: 1.3rem;
    }

    .pm {
        display: block;
    }
}

@media only screen and (max-width: 600px) {

    .content {
        margin-top: 95px;
    }

    .article-content h1 {
        font-size: 1.2rem;
    }

    .article-content h2 {
        font-size: 1rem;
    }

    .article-content {
        font-size: 0.9rem;
        padding: 0 1rem;
    }

    .list-content {
        font-size: 0.9rem;
        padding: 0px;
    }

    .list-content h3 {
        font-size: 1rem;
    }

    code {
        font-size: 0.9rem;
    }

    .brand-title {
        font-size: 1.2rem;
        margin-top: .5rem;
    }

    .brand-subtitle {
        font-size: .8rem;
        margin-bottom: .5rem;
    }

    .logo {
        width: 50px;
    }

    .card {
        padding: 1rem;
    }

    .pagination li a {
        font-size: 1rem;
    }

    .pm {
        display: block;
        font-size: 0.7rem;
    }
}